
@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
}

.nav-inner-mobile {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .navigation-bar {
    display: none !important;
  }

  nav .nav-inner-mobile {
    display: flex;
    flex-direction: column;
  }

  .nav .nav-inner-mobile .b-navbar-nav {
    margin-top: 20px;
  }

  .nav-inner-mobile {
    background-color: rgb(10, 10, 114);
  }

  .sidenav {
    text-align: center;
  }

  .sidenav a {
    padding-left: 20px;
  }

  .hamburger-icon {
    display: block;
  }

  .hamburger-icon i {
    color: white;
    font-size: 30px;
    padding: 20px;
  }

  nav .nav-inner-mobile {
    display: flex;
    flex-direction: column;
  }

  .nav .nav-inner-mobile .b-navbar-nav {
    margin-top: 20px;
  }

  .inner-nav {
    margin-top: -6px;
  }

  .hamburger-icon {
    display: block;
  }

  .logo {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-self: flex-start;
  }

  .logo .logo-link {
    width: 300px;
    height: auto;
  }

  .inner-nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 10, 114);
    /* background: transparent; */
    background-size: cover;
    justify-content: center;
    width: 100%;
  }

  .hamburger-icon i {
    color: white;
    font-size: 30px;
    align-self: flex-end;
  }

  .nav .inner-nav {
    height: 0px;
  }
  .inner-nav a {
    text-decoration: none; 
    color: white; 
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    border-top: 1px solid black;
  }
  .sidenav a {
    text-decoration: none; 
    color: white;
  }
  .inner-nav a:hover {
    background-color: #0d6efd;
    color: white;
    text-align: center;
  }
  .button-1 {
    appearance: button;
    background-color: #7874;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 1px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

.button-1:after {
    background-clip: padding-box;
    background-color: #81f188;
    border: solid transparent;
    border-radius: 6px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-1:main,
.button-1:focus {
    user-select: auto;
}

.button-1:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button-1:disabled {
    cursor: auto;
}

.button-1:active {
    border-width: 4px 0 0;
    background: none;
}
}